@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.root {
    display: flex;
    flex-direction: column;
    font-size: 15px;

}

.text {
    font-size: 25px;
    font-family: Poppins;
}