@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.root {
    
    border: 1px solid rgb(235, 232, 232);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;

}
.text {
    padding-left: 20px;
}
.link {
    text-decoration: none;
}