@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.root {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #d2d2d8;
    margin-bottom: 70px;
  }
  .text {
    color: #4e50ad;
  }
  
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .buttons {
    display: flex;
    align-items: center;

    button {
      margin-left: 10px;
    }
  
    a {
      text-decoration: none;
    }
  }
  
  .link {
    text-decoration: none;
  }

  .name{
    font-size: 22px;
    padding-right: 10px;
    font-family: Poppins;
    
    
  }