.root {
    background-color: rgb(110, 153, 209);
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
    
  }
  
  .inner {
    display: flex;
    justify-content: space-between;
  }

  .buttons {
    button {
      margin-left: 10px;
    }
  
    a {
      text-decoration: none;
    }
  }
  
  .link {
    text-decoration: none;
  }