.block{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap:wrap;
    padding-top: 50px;
    .card {
        flex: 0 0 33.333%;
        padding-top: 100px;
        
        
    }
}

.textField {
    padding-top: 15px;
}

.buttons {
    display: flex;
    
}